extends ./base
include ./mixin

block header
    h1 Gang of Four

block content
    div Die Namen der vier
        | Autoren des Buchs über Entwurfsmuster:

    ul#gof

    each person in gof
        +listItem(person)

    include ./info