extends templates/layout

block content
    div.container
        h1.header Create Poll


        div.poll
            h3.question-text Text:
            input.form-control(type='text')
            br

            button.btn.btn-primary +++

            br

            button.btn.btn-primary New Question

            br

        button.btn.btn-secondary.btn-lg.btn-block Create Poll