//
   Created by Rötzer on 17.11.2016.

doctype 5
html
    head
        title!= title
        link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='bootstrap/css/bootstrap-grid.min.css', rel='stylesheet', type='text/css')
        meta(name="viewport", content="width=device-width", initial-scale='1', shrink-to-fit='no')
    body
        nav.navbar.navbar-dark.bg-inverse
            a.navbar-brand(href='#') RVP
            ul.nav.navbar-nav.float-xs-right
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/about') About Us
                li.nav-item
                    a.nav-link.active(href='/placeholder') Placeholder

        div.container
            h1 Placeholder