doctype html
html
    head
        title Jade Example
    body
        header
            block header

        block content
            div No content to display!

        footer
            a(href="legal.html") imprint