extends ./base

block header
    h1 Gang of Four

block content
    div Die Namen der vier
        | Autoren des Buchs über Entwurfsmuster:

    ul#gof

    each person in gof
        li.listItem(style="color:blue;")
            = person.name
            if person.dateOfBirth
                span
                    = ' (' + person.dateOfBirth + ')'