html
    head
        title!= title
    body
        h1!= message

        form(action='/', method='POST')
            input(type='text', name='userName', placeholder='Enter your name')
            br
            br
            input(type='submit', value='Submit')








