//
   Created by Dani on 15.11.2016.

html
    head
        title!= title
    body
        span Name:&nbsp;
            name!= name
            br
        span Age:&nbsp;
            age!= age
            br

        p.
            Stored your submitted Data!

        a(href='/') Go back