doctype html
html
    head
        meta(charset='utf-8')
        title Jade Example
    body
        h1 Gang of Four

        div Die Namen der vier
            | Autoren des Buchs über Entwurfsmuster:

        ul#gof
            each person in gof
                li.listItem(style="color:blue;")
                    = person.name
                    if person.dateOfBirth
                        span
                            = ' (' + person.dateOfBirth + ')'