doctype html
html
    head
        title Jade Example
body
    h1 Gang of Four
    div Die Namen der vier
        | Autoren des Buchs über Entwurfsmuster:
    ul#gof

    - for (var i in gof)
        li.listItem(style="color:blue;")
            = gof[i].name
                if gof[i].dateOfBirth
                    span
                        = ' (' + gof[i].dateOfBirth + ')'